@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("images/bg.jpg") #030728 center;
}

.card-list .card-item {
  user-select: none;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  background: #ccc;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  min-height: 220px;
}

.card-list .card-item .view-button {
    margin-top: 13px;
  font-size: 1rem;
  padding: 5px 10px;
  color: #030728;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  background: #fff;
  border: 1px solid transparent;
  transition: 0.2s ease;
}

.card-list .card-item .view-button:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  color: #fff;
}
.slider-wrapper {
  overflow: hidden;
  max-width: 800px;
  margin: 0 70px 55px;
}
.slider-wrapper .swiper-pagination-bullet {
  background: #fff;
  height: 10px;
  width: 10px;
}
.swiper-slide-btn {
  color: #fff;
  margin-top: -50px;
}

.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 14px;
}
.item-text {
    margin-top: 10px;
}
@media (max-width: 628px) {
    .swiper-button-prev, .swiper-button-next  {
        display: none;
    }
    .slider-wrapper {
margin: 0 10px 40px;
    }
}